@tailwind base;
@tailwind components;
@tailwind utilities;

.thin-scroll::-webkit-scrollbar {
    width: 15px;

}

.thin-scroll::-webkit-scrollbar-track {
    background:  rgb(23 23 23);
    border-left: 1px solid rgb(115 115 115);

}

.thin-scroll::-webkit-scrollbar-thumb {
    background: rgb(82 82 82);
    border-radius: 1rem;
    
}